.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
}

.banner h2{
    color: black;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

.container {
    margin: 10px auto;
    max-width: 1200px;
    padding: 0 1rem;
    justify-content: center;
    align-items: center
}
.grid {
    text-align: center;
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    flex-direction: row;

  }

.cell{
    display: block;
    margin: 1rem;
}
